@media (max-width: 991px) {
  
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: aquamarine;
        width: 90%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
    }
    .menu ul li{
        margin: 20px 0;
    }
    .menu ul li a{
        padding: 10px;
    }
    .open-menu,
    .close-menu{
        display: block;
    }
    .menu-b{
        padding: 10px 15px;
        gap: 10px;
        border-radius: 14px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    
    .dis-flex{
        width: 350px;
        gap: 20px;
    }
    .header-title{
        font-size: 40px;
    }
    .header-pera{
        font-size: 15px;

    }
    .header-img{
        width: 380px;
    }
/*----------------
    HEADER END
-----------------*/
.case-parent{
    flex-direction: column;
    justify-content: center;
    
}
.line{
    width: 250px;
    height: 1px;
    background-color: #FFFFFF;
}
/*----------------
   CASE END
-----------------*/
.company-logo{
    flex-wrap: wrap;
 }
 .images{
    width: 30%;
    height: auto;
    padding: 10px 0;
 }

/*----------------
company-logo END
-----------------*/
.block-p p{
    font-size: 18px;
    width: 600px;
    text-align: center;
 
 }
 /*----------------
  PROCESS BLOCK END
-----------------*/

    

}

@media (max-width: 575px) {
    .header-container{
        flex-direction: column;
    }
    .dis-flex{
        padding: 10px;
        display: flex;   
        padding-bottom: 30px;
    }
    .header-btn{
        padding: 20px 100px;
        gap: 30px;
    }
/*----------------
    HEADER END
-----------------*/
.company-logo{
   flex-wrap: wrap;
}
.images{
   width: 30%;
   height: auto;
   padding: 10px 0;
}
/*----------------
   LOGOTYPES END
-----------------*/
.subtitle{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.sub-2{
    width: 350px;
}
.sub-2 p{
text-align: center;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
/*----------------
  SUBTITLE-1 END
-----------------*/
.card-parent{
    flex-direction: column;
}
.card-1, .card-2, .card-3{
    width: 350px;
}
.heading label, .heading-2 label, .heading-3 label, .heading-4 label{
    font-size: 24px;
}
.bg{
    width: 150px; 
 }
.cadr-img img{
    width: 100%;
}
/*----------------
   CARD END
-----------------*/
.cta-parent{
    width: 100%;
    flex-direction: column;
}
.cta-text{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    margin: 0 auto;
}
.cta-text h3{
    font-size: 25px;
}
.cta-text p{
    font-size: 20px;
}
/*----------------
     CTA END
-----------------*/
.case-parent{
    flex-direction: column;
}
.line{
    width: 250px;
    height: 1px;
    background-color: #FFFFFF;
}
/*----------------
   CASE END
-----------------*/
.sub-4{
    width: 350px;
    flex-shrink: 0;
    text-align: center;
}
.sub-4 p{
    font-size: 18px;
}
/*----------------
  SUBTITLE-3 END
-----------------*/
.block-1, .block-2{
    padding: 30px 0px;
    width: 350px;
}
.block-p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.block-p p{
   font-size: 15px;
   width: 300px;

}
.block-icon{
    padding-bottom: 10px;
}
.block-icon ul, .block-2 ul{
    width: 300px;
    padding-bottom: 5px;
    
}
.block-icon ul li a, .block-2 ul li a{
   font-size: 20px;
}
.block-icon ul li a label, .block-2 ul li a label{
    font-size: 18px;
 }
 .block-icon ul span, .block-2 ul span{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}
/*----------------
PROCESS BLOCK END
-----------------*/

    
}