@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
a{
	text-decoration: none; 
}
img{
	max-width: 100%;
	height: auto;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
    
}
body{
    font-family: Space Grotesk;
}
/*-------------------
Start Header Design
-------------------*/
.wrapper{}
.container{
    width: 95%;
    margin: auto;
}
header{}
nav{
}
.nav-bar{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 0px;
    background-color: #FFFFFF;
    z-index: 999;
    position: fixed;
    
}
.logo{
    width: 219.537px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    width: 811px;
    width: 800px;
}
.menu li{
    
}
.menu li a{
    display: inline-block;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: black;
    text-transform: capitalize;
}
.menu-b{
    padding: 20px 30px ;
    gap: 10px;
    border-radius: 14px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.open-menu,
.close-menu{
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 20px;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
}
#check{
    display: none;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    background-color: #FFFFFF;
    width: 100%;
}
.header-content{
}
.dis-flex{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    
}
.header-title{
    color: #000;
    font-family: "Space Grotesk";
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header-pera{
    color: #000;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}
.header-btn{
    display: flex;
    padding: 20px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 14px;
    background: #191A23;
    color: #FFFFFF;
}
.header-img{
    padding-top: 30px;
    width: 580px;
    flex-shrink: 0;
}
.header-img img{
    max-width: 100%;
    height: auto;
}
/*----------------
    HEADER END
-----------------*/
.company-logo{
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.images{
    flex-wrap: wrap;
    height: auto;
    text-align: center;
}
.images img{
    max-width: 100%;
    height: auto;
}
/*----------------
   LOGOTYPES END
-----------------*/
.header-subtitle{}
.subtitle{
    padding: 20px 0px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.sub-1{
    width: 164px;
    height: 51px;
    background-color: #B9FF66;
    border-radius: 12px;
    margin-right: 40px;
}
.sub-1 h2{
    font-family: "Space Grotesk";
    font-size: 45px;
    font-style: normal;
    font-weight:500;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    
}
.sub-2{
    width: 580px;
    height: auto;
    flex-shrink: 0;
}
.sub-2 p{
    color: #000;
    font-family: "Space Grotesk";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*----------------
   SUBTITLE END
-----------------*/
.card-section{}
.card-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 0;
}
.card-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    padding: 50px;
    background: var(--Grey, #F3F3F3);
    border-radius: 45px;
    border: 1px solid var(--Dark, #191A23);
    box-shadow: 0px 5px 0px 0px #191A23;
}
.heading, .heading-2, .heading-3, .heading-4{
    padding-bottom: 90px;
}
.heading label, .heading-4 label{
    display:flex;
    padding: 0px 7px;
    align-items: flex-start;
    gap: 10px;
    background-color: #B9FF66;
    border-radius: 7px;
    color: #000;
    font-family: "Space Grotesk";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
.bg{
   width: 160px; 
}
.link, .link-3{
    display: flex;
    align-items: center;
}
.link a{
    color: var(--Black, #000);
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-left: 15px;
}
.cadr-img{}
.cadr-img img{}

.card-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    padding: 50px;
    background-color: #B9FF66;
    border-radius: 45px;
    border: 1px solid var(--Dark, #191A23);
    box-shadow: 0px 5px 0px 0px #191A23;
}
.heading-2 label{
    display:flex;
    padding: 0px 7px;
    align-items: flex-start;
    gap: 10px;
    background-color:white;
    border-radius: 7px;
    color: #000;
    font-family: "Space Grotesk";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
.card-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    padding: 50px;
    background-color:#191A23;
    border-radius: 45px;
    border: 1px solid var(--Dark, #191A23);
    box-shadow: 0px 5px 0px 0px #191A23;
}
.heading-3 label{
    display:flex;
    padding: 0px 7px;
    align-items: flex-start;
    gap: 10px;
    background-color:white;
    border-radius: 7px;
    color: #000;
    font-family: "Space Grotesk";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
.link-3 a{
    color: white;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-left: 15px;
}
